@font-face {
    font-family: Alcubierre;
    src: url(../assets/Alcubierre.otf) format("opentype");
    src: url('../assets/alcubierre-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/alcubierre-webfont.woff2') format('woff2'),
         url('../assets/alcubierre-webfont.woff') format('woff'),
         url('../assets/alcubierre-webfont.ttf') format('truetype'),
         url('../assets/alcubierre-webfont.svg#alcubierreregular') format('svg');
}

body{
	color: #747474;
	font-family: Alcubierre;	
	letter-spacing: 1px;
}

#cabecalho{
	text-align: center;
	color: #ffffff;
	position: absolute;
	top: 50%;
	width: 235px;
	height: 300px;
	left: 50%;
	margin-top: -150px;
	margin-left: -117px;
}

#cabecalho h1{
	letter-spacing: 5px;
	font-weight: bold;
	color: rgb(74, 197, 195);
  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
    background-image: -webkit-linear-gradient(45deg, #00c3ff, #ffff1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
}


#cabecalho h2{
	font-size: large;
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6{
	color: inherit;
	font-family: 'Source Sans Pro', sans-serif;
}

footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #747474;
}

.social{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
}

.social li{
	padding: 10px;
	display: inline-block;
	opacity: .5;
	transition-property: opacity;
  	transition-duration: 0.2s;
  	transition-timing-function: linear;
}

.social li:hover{
	opacity: 1;
}

a, a:hover, a:visited, a:visited:not(.button){
	color: white;
	text-decoration: inherit;
}

.something-semantic {
  display: table;
  width: 100%;
}
.something-else-semantic {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

