

@font-face {
    font-family: Alcubierre;
    src: url(../assets/Alcubierre.otf) format("opentype");
}

body{
	color: #747474;
	font-family: Alcubierre;
	font-size: x-large;
	letter-spacing: 1px;
}

#cabecalho{
	text-align: center;
	padding: 55px 0 55px 0;
	color: #747474;
	background: linear-gradient(white, #fafafa);
}

#cabecalho h1{
	letter-spacing: 5px;
	font-weight: bold;
}

#cabecalho h2{
	margin-top: 10px;
	font-size: large;
}

.coluna{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
p{
	line-height: 2;
	font-size: 18px;
}

section{
	padding: 15px 0 15px 0;
	text-align: center;
	min-height: 400px;
	border-bottom: 1px dashed rgba(0,0,0,.2);
	background: #fafafa;
}

section:last-of-type{
	border-bottom: none;
}

section h2{
	font-weight: bolder;
	letter-spacing: 5px;
	margin: 25px;
}

h1, h2, h3, h4, h5, h6{
	color: inherit;
}

section h3{
	font-weight: bold;
}

section i{
	margin:10px;
	opacity: .5;
}

.introducao{
	color: #00a1f1;
	
}

.habilidades{
	color: #f65314;
}

.experiencias{
	color:#71bb00;

}
footer{
	background-color: #747474;
	color:white;
}

.social{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 10px;
	position: relative;
}

.social li{
	padding: 10px;
	display: inline-block;
	opacity: .5;
	transition-property: opacity;
  	transition-duration: 0.2s;
  	transition-timing-function: linear;
}

.social li:hover{
	opacity: 1;
}
a, a:hover, a:visited:not(.button){
	color: inherit;
	text-decoration: inherit;
}

#contactform label{
	clear: both;
}

#contactform textarea{
	font-size: 12px;
	font-family: sans-serif;
	width: 100%;
	min-height: 200px;
}
