

@font-face {
    font-family: Alcubierre;
    src: url(../assets/Alcubierre.otf) format("opentype");
    src: url('../assets/alcubierre-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/alcubierre-webfont.woff2') format('woff2'),
         url('../assets/alcubierre-webfont.woff') format('woff'),
         url('../assets/alcubierre-webfont.ttf') format('truetype'),
         url('../assets/alcubierre-webfont.svg#alcubierreregular') format('svg');


}

body{
	color: #747474;
	font-family: Alcubierre;
	font-size: x-large;
	letter-spacing: 1px;
}

#cabecalho{
	text-align: center;
	padding: 55px 0 55px 0;
	color: #747474;
	background: linear-gradient(white, #fafafa);
}

#cabecalho h1{
	letter-spacing: 5px;
	font-weight: bold;
}

#cabecalho h2{
	margin-top: 10px;
	font-size: large;
}

.coluna{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
p{
	line-height: 2;
	font-size: 18px;
}

section{
	padding: 15px 0 15px 0;
	text-align: center;
	min-height: 400px;
	background: #fafafa;
	color:white;
}

section h2{
	font-weight: bolder;
	letter-spacing: 5px;
	margin: 25px;
}

h1, h2, h3, h4, h5, h6{
	color: inherit;
	font-family: 'Source Sans Pro', sans-serif;
}

section h3{
	font-weight: bold;
}

section i{
	margin:10px;
	opacity: .5;
}

.introducao{
	color: white;
	background-color: #19acca;
}

.habilidades{
	background-color: #e06d5e;
}

.experiencias{
	background-color: #69aa90;
}
footer{
	background-color: #747474;
}

.social{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 10px;
	position: relative;
}

.social li{
	padding: 10px;
	display: inline-block;
	opacity: .5;
	transition-property: opacity;
  	transition-duration: 0.2s;
  	transition-timing-function: linear;
}

.social li:hover{
	opacity: 1;
}
a, a:hover, a:visited, a:visited:not(.button){
	color: white;
	text-decoration: inherit;
}

#contactform label{
	clear: both;
}

#contactform textarea{
	width: 100%;
	min-height: 200px;
}

.buttons{
	text-align: center;
}
.icon{
	width: 120px;
}
